<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Courses App</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            {{#if isHome}}
            <li class="active"><a href="/">Home</a></li>
            {{else}}
            <li><a href="/">Home</a></li>
            {{/if}}

            {{#if isCourse}}
            <li class="active"><a href="/courses">Courses</a></li>
            {{else}}
            <li><a href="/courses">Courses</a></li>
            {{/if}}


            {{#if isAdd}}
            <li class="active"><a href="/add">Add course</a></li>
            {{else}}
            <li><a href="/add">Add course</a></li>
            {{/if}}

        </ul>
    </div>
</nav>