{{>head}}

<body>

    {{>navbar}}
    <div class="container">
        {{{body}}}
    </div>

    {{>footer}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>