<h2>{{title}}</h2>

<form action="/add" method="POST">
    <div class="input-field col s6">
        <input id="title" name="title" placeholder="Course name" type="text" class="validate" required>
        <span class="helper-text" data-error="Incorrect name">Enter name</span>
    </div>

    <div class="input-field col s6">
        <input id="price" name="price" placeholder="Course price" type="text" class="validate" required>
        <span class="helper-text" data-error="Incorrect price">Enter price</span>
    </div>

    <div class="input-field col s6">
        <input id="img" name="img" placeholder="Picture url" type="text" class="validate" required>
        <span class="helper-text" data-error="Incorrect url">Enter picture url</span>
    </div>

    <button class="btn btn-primary" type="submit">Add course</button>
</form>